.language-selector {
    margin-top: 20px;
}

.language-selector select {
    padding: 5px;
    border-radius: 5px;
}

.language-selector option {
    padding-left: 25px; /* Spazio per la bandiera */
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px; /* Dimensioni dell'immagine della bandiera */
}

.language-selector option[value="it"] {
    background-image: url('https://www.countryflags.io/it/shiny/32.png');
}

.language-selector option[value="en"] {
    background-image: url('https://www.countryflags.io/gb/shiny/32.png');
}

.language-selector option[value="es"] {
    background-image: url('https://www.countryflags.io/es/shiny/32.png');
}

.language-selector option[value="ko"] {
    background-image: url('https://www.countryflags.io/kr/shiny/32.png');
}

.language-selector option[value="ja"] {
    background-image: url('https://www.countryflags.io/jp/shiny/32.png');
}

.language-selector option[value="zh"] {
    background-image: url('https://www.countryflags.io/cn/shiny/32.png');
}

.language-selector option[value="de"] {
    background-image: url('https://www.countryflags.io/de/shiny/32.png');
}

.language-selector option[value="nl"] {
    background-image: url('https://www.countryflags.io/nl/shiny/32.png');
}
